@import "tailwindcss";

@keyframes pulse-glow {
  0%, 100% { opacity: 0.3; transform: scale(1); }
  50% { opacity: 0.6; transform: scale(1.05); }
}
.animate-pulse {
  animation: pulse-glow 6s infinite ease-in-out;
}

html, body {
  height: 100%;
  overflow: auto;
}





